.footerTwo {
  height: 30vh;
  background-color: rgb(78, 78, 78);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .termsAndCopy {
    text-align: center;
  }
}

.logoFooter {
  font-size: 3rem;
  color: white;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-weight: bold;
}

.redesFooter {
  display: flex;
  gap: 15px;
}
.termsAndCopy {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copy {
  color: white;
}
