.bodyContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}
.containerBotones {
  position: fixed;
  bottom: 18vh;
  left: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.botonColor {
  width: auto;
}