.containerSection {
  padding: 30px;
  border-radius: 5px;
  margin: 20px auto;
  width: 60%;
}
.containerSection h2 {
  font-size: 30px;
  margin: 15px 0;
}
.containerSection h3 {
  font-size: 20px;
  margin: 10px 0 30px 0;
  cursor: pointer;
  display: inline-block;
}
.containerSection h3::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

.containerSection h3:hover::after {
  width: 100%;
}

.thumbnailImage {
  width: 100%;
  padding: 5px;
  height: auto;
}
