.containerHeader {
  width: 100vw;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 0 20%;
  align-items: center;
  border-bottom: 3px solid rgba(20, 20, 20, 0.075);
  position: fixed;
  z-index: 999;
}
.logo {
  font-weight: bold;
}

.containerNav {
  list-style: none;
  display: flex;
  gap: 10px;
}

@media (width < 768px) {
  .containerHeader {
    padding: 0 20px;
  }
}
