.home {
  display: flex;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
}

.home > h1 {
  padding: 30px;
}
.links {
  text-decoration: underline;
  font-size: 20px;
  
}
