.scrollToTopButton {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .scrollToTopButton:hover {
    opacity: 0.8;
  }
  