.itemContainer {
  padding: 20px;
  border: 1px solid rgba(90, 89, 89, 0.233);
  border-radius: 5px;
  display: flex;
  background-color: #e6e4e4;
  margin: 5px auto;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.itemContainer h2 {
  color: #333;
  font-weight: 500;
}
.itemContainer h3 {
  color: #333;
}
